
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "adelle-sans", "helvetica neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
  margin-top:110px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
 
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  font-size:24px;
  color:#492b47;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(146, 137, 142);
  font-size: 15px;
  line-height: 1.4;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.navbar-wrapper {
    background:#fff;
    margin-top:0;
}

.navbar .navbar-inner {
    background: none;
    box-shadow: none;
    height:62px;
    color:#111;
    padding-top:30px;
}

.navbar .brand {
    font-size:24px;
    text-shadow:none;
}

.header {
    margin-top:110px;
    min-height:366px;
    background:url(../img/bg.jpg) top center no-repeat #7c4ae2;
    background-size:cover;
    color:#fff;
    text-align:center;
    margin-bottom:60px;
}

.header div {
    max-width:760px;
    padding:80px 0 0 0;
    margin:0 auto;
    font-weight:400;
}

.header h1 {
    margin:0 0 0;
    font-weight:normal;
    text-transform:uppercase;
}

.header div p {
    font-size:22px;
    font-weight:300;
    line-height:1.4;
}

.header hr {
    width:20px;
    background:#fff;
    border:0;
    border-bottom:4px solid #fff;
    margin:20px auto;
}

.marketing img {
    height:72px;
    padding:30px 0;
}


.signme {
    background:url(../img/signme-bg.png) top center no-repeat #7c4ae2;
    background-size:cover;
    height:200px;
    color:#fff;
    text-align:center;
    padding:50px 0;
    margin-top:80px;
}

.signme h2 {
    font-weight:400;
}

.signme p {
    font-size:18px;
    font-weight:300;
}

.signme form, .signme-top form {
    margin:30px;
}
.signme input, .signme-top input {
    border-radius:2px;
    background:#fff;
    padding:0.8em 1em;
    border:0;
    margin:0 5px;
    font-size:18px;
    line-height:1.2;
}

.signme input[type=submit], .signme-top input[type=submit] {
    background:#3b2073;
    color:#fff;
    padding:0.8em 1.5em;
}

footer {
    padding:80px 0 40px;
}

footer .span4 p {
    padding:1em 1em 0 0;
    font-size:13px;
    color:#999;
}

footer .span8 a {
    background:#999;
    padding:0.5em 1em;
    margin-right:10px;
    font-size:16px;
    color:#fff;
}

footer .span8 p:first-child {
    margin-bottom:30px;
    font-size:22px;
    color:#999;
}

footer .span8 .btn-facebook {
    background:#3a69c9;
}

footer .span8 .btn-twitter {
    background:#17a5ff;
}

footer .span8 .btn-github {
    background:#40464a;
}


nav {
  float: right;
  line-height: 60px;
  font-size: 1.2em;
}

nav a {
  margin-left: 20px;
}

<<<<<<< HEAD
/* Team
------------------------- */
.team {
  width: 940px;
}

.team img {
  float:left;
  width:48px;
  border:1px solid #ddd;
  margin-right:15px;
}

.team a {
  font-size:16px;
  border:0;
  margin-bottom:30px;
  line-height:1.5;
}

.team .grid_3 {
  height: 69px;
  width: 220px;
  margin-right: 20px;
  display: inline;
  float: left;
}

.team .grid_3:nth-child(4n+4) {
  margin-right:0;
}



=======

.event {
  box-shadow:0 2px 3px #ddd;
  border:1px solid #eee;
  height:200px;
  background-position:0 -100px;
  margin-bottom:40px;
  -webkit-transition:0.4s box-shadow;
}

.event:hover {
  -webkit-transition:0.4s all;
  box-shadow:0 2px 3px #999;
  border-color: #ddd;
}

.event.tba {
  box-shadow:none;
  border:1px solid #eee;
}

.event.tba h3 {
  color:#888;
  border-color:#888;
}

.event.tba h3 small {
  color:#888;
}

.event h3 {
  margin-top:129px;
  padding:10px 15px;
  background:#fff;
  border-top:3px solid #7244D0;
  font-weight:normal;
}

.event h3 small {
  line-height:1.5;
  display:block;
  font-size:80%;
  color:#1B88CB;
  font-weight:150;
}
.helsinki { 
  font-size: 100px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
{
  .helsinki h1
  margin: 0;
  line-height: 1.25;
  color: #7244D0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
>>>>>>> helsinki page changes
